body, :root {
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
}

/* @keyframes fade {
    from {
        opacity: 0.5;
    }
} */

@keyframes fade {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
    /* 100% {
      opacity: 1;
    } */
  }

.blinking {
    animation: fade 1s infinite alternate;
}

.leaflet-bottom.leaflet-right .leaflet-control-attribution {
    display: none;
}

.custom-tooltip {
    top: -50px;
    background-color: rgba(0, 0, 0, 0.6);
    border-width: 0px;
    color: white;
    /* -webkit-text-stroke: 1px white;
    paint-order: stroke fill; */
    
    /* border: 0px; */
    /* background-color: rgba(255, 255, 255, 0.6); */
    /* border: 1px solid #333; */
    /* padding: 5px; */
}